.navL{
    margin-top: 3%;
    /*:#404D46;*/
}


.logo{
    margin-top:30%; 
    filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.188));
    
}


.pdp{
   /* margin-right: 60%;
    margin-top: 20%;*/
    width: 100%;
    height: 100%;
   
}

.pdpbtn{
    /* margin-right: 60%;*/
     top: 70%;
     left: 47.41%;
     margin-left: -67.41%;
     margin-top: 35%;
     width: 60%;
     /*height: 0%;*/
 }

 


 .achaticon{
    position: absolute;
    left: 45.41%;
    
    top: 25.05%;
    bottom: 98.61%;
    
   
    color: #404D46;
 }


 .panier{
     cursor:pointer;
 }

 .nbrAchatcircle{
    position: absolute;
    left: 94.54%;
    right: 9.39%;
    top: 4.2%;
    bottom: 98.82%;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: #E40505;

 }

 .nbrAchat{
    color: white;
    font-size: 11.5px;
    top: 7%;
    left: 31%;
    font-weight: bold;
    position: absolute;
 }


